{% if user.is_authenticated %}
    Привет, {{ user.username}}! |
    <a class="outlink" href="/user/logout/">Выйти</a><br>
    {% if user.is_superuser %}
        <a href="/admin007/">Админка</a>
    {% endif %}
{% else %}
    <form method="post" class="vxod" action="/user/login/">
        {% csrf_token %}
       <input type="text" name="login" size="20" placeholder="Логин"><br>
       <input type="password" name="password" size="20" placeholder="Пароль"><br>
       <button type="submit" class="btn btn-default">Войти</button>
    </form>
    {% if errors %}
        <p class="error">Вы ввели неправильные данные</p>
    {% endif %}
    <a href="/user/registration">Регистрация</a>

{% endif %}